body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2a2d43;
  }
  .container {
    width: 500px;
    margin: 20px auto;
  }
  .form {
    background-color: #8e94f2;
    border-radius: 6px;
    padding: 20px;
    display: flex;
    align-items: center;
  }
  .input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    flex: 1;
  }
  .input:focus {
    outline: none;
  }
  .add {
    border: none;
    background-color: #3f51b5;
    width: 40px;
    color: white;
    height: 35px;
    border-radius: 4px;
    font-size: 30px;
    margin-left: 10px;
    cursor: pointer;
  }
  .tasks {
    background-color: #bbadff;
    margin-top: 20px;
    border-radius: 6px;
    padding: 20px;
  }
  .tasks .task {
    background-color: #2a2d43;
    padding: 10px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
    color: white;
  }
  .tasks .task:not(:last-child) {
    margin-bottom: 15px;
  }
  .tasks .task:hover {
    background-color: #2a2d43c9;
  }
  .tasks .task.done {
    opacity: 0.5;
  }
  .tasks .task span {
    font-weight: bold;
    font-size: 10px;
    background-color: red;
    color: white;
    padding: 2px 6px;
    border-radius: 4px;
    cursor: pointer;
  }
